*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    border: 0cap;
    scroll-behavior: smooth;
}
header{
    position:relative;
    top: 0;
    left: 0%;
    right: 100%;
    width:100%;
    padding: 30px ;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size:2em;
    font-weight: 600;
    color:rgb(245, 220, 245);
    letter-spacing: 2px;
    padding-left: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar a{
    text-decoration: none;
    font-size: 20px;
    color:rgb(231, 227, 235) ;
    font-weight: 500;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #524f50;
    position: absolute;
    left: 0;
    bottom: 1px;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
.intro{
    padding-top: 60px;
    font-size: 30px;
    height:350px;
    width: 100%;
    background-color: rgb(240, 233, 240);
}
h1{
    font-size: 50px;
    font-weight: 500;
    color:brown;
    text-align: center;
}

h6{
    color: brown;
    font-size: 20px;
    text-align: center;
}
.aboutus{
    height: 400px;
    background-color: rgb(245, 220, 245);
    padding-top: 20px;
}

li{
    padding-top: 10px;
    color:brown;
    text-align: center;
}

.screenshot{
    height:500px;
    background-color: rgb(240, 233, 240);
    padding-top: 20px;
}
.contacts{
    height: 200px;
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}
.footer{
    background-color: black;
    color:white;
    font-size: 20px;
    height: 90px;
    text-align: center;
    padding-top: 40px;
}